# Read about this file:
# https://help.github.com/en/articles/about-code-owners

# Technical files
.vuepress/ @abulte
.circleci/ @AntoineAugusti

# Guides
algorithmes/ @schignard @soizicpenicaud
data.gouv.fr/ @mathildehg @etalab/core
juridique/ @mathildehg @AntoineAugusti
qualite/ @mathildehg @AntoineAugusti
logiciels/ @bzg
producteurs-schemas/ @etalab/schema-data-gouv-fr
