.lexique
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold
  .title:before
    display inline-block
    content ' '
    vertical-align middle
    background-image url("/images/icon-info.svg")
    margin-right .4em
    background-size 20px 20px
    height 20px
    width 20px

.theme-container.no-sidebar
  .sidebar-links
    display none
